<div class="wrapper">
  <!--  Default table-->
  <ngx-responsive-table [data]="(user$ | async)!" caption="default table" />

  <!--  Custom Header Labels-->
  <ngx-responsive-table
    [data]="(user$ | async)!"
    caption="Custom Header Labels"
  >
    <ng-template #headers>
      <th>Avatar</th>
      <th>Email</th>
      <th>First Name</th>
      <th>ID</th>
      <th>Last Name</th>
    </ng-template>
  </ngx-responsive-table>

  <!--  Custom Cells-->
  <ngx-responsive-table [data]="(user$ | async)!" caption="Custom Cells">
    <ng-template #headers>
      <th>Avatar</th>
      <th>Email</th>
      <th>First Name</th>
      <th>ID</th>
      <th>Last Name</th>
      <th>Actions</th>
    </ng-template>
    <ng-template #rows let-row>
      <td data-cell="avatar">
        <img
          [ngSrc]="row.avatar"
          alt="Avatar"
          class="avatar"
          width="50"
          height="50"
        />
      </td>
      <td data-cell="email">{{ row.email }}</td>
      <td data-cell="first_name">{{ row.first_name }}</td>
      <td data-cell="id">{{ row.id }}</td>
      <td data-cell="last_name">{{ row.last_name }}</td>
      <td data-cell="actions" id="actions">
        <button data-cell="edit">Edit</button>
        <button data-cell="delete">Delete</button>
      </td>
    </ng-template>
  </ngx-responsive-table>
</div>
